/* основний колір тексту #212121 */
/* колір тексту параграфів #757575 */
/* колір наведення-акценту #2196F3 */
/* білий #FFFFFF */

:root {
	--primary-text-color: #212121;
	--second-text-color: #757575;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--hero-footer-bcg: #2f303a;
	--logo-primary-color: #000000;
	--section-team-bcg: #f5f4fa;
	--address-list-color: rgba(255, 255, 255, 0.6);
	--portfolio-box: #eeeeee;
	--btn-hero-accent-color: #188CE8;
}

body {
	background-color: var(--primary-white-color);
	font-family: "Roboto", Verdana, sans-serif;
	color: var(--primary-text-color);
	letter-spacing: 0.03em;
}

/* глобальне скидання стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

/* прибираємо підкреслення посилання */
.link {
	text-decoration: none;
}

/* прибираємо маркери списку */
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {
	width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	outline: 1px solid tomato;
}

.section {
}

/* -----------------HEADER----------------- */

.logo {
	font-family: "Raleway", Verdana, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	color: var(--logo-primary-color);
}

.logo-web {
	color: var(--accent-color);
}

.nav-list {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

.nav-list.curent {
	color: var(--accent-color);
}

.nav-list:hover,
.nav-list:focus {
	color: var(--accent-color);
}

.header-list-contact {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--second-text-color);
}
.header-list-contact:hover,
.header-list-contact:focus {
	color: var(--accent-color);
}

/* -----------------HEADER----------------- */
/* -----------------HERO----------------- */

.hero {
	background: var(--hero-footer-bcg);
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	color: var(--primary-white-color);
}

.hero-btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	cursor: pointer;
	color: var(--primary-white-color);
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;

	padding: 10px 32px;

	min-width: 216px;
	min-height: 50px;
}

.hero-btn:hover,
.hero-btn:focus {
	background: var(--btn-hero-accent-color);
}

/* -----------------HEADER----------------- */
/* -----------------Section features----------------- */

.features-title {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;
}

.features-text {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	color: var(--second-text-color);
}

/* -----------------Section features----------------- */
/* -----------------Section projects, teams----------------- */

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
}

.team-card {
	background: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
}

.team-position {
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	color: var(--second-text-color);
}

.section-team {
	background: var(--section-team-bcg);
}

/* -----------------Section projects, teams----------------- */
/* -----------------Section footer----------------- */

.footer {
	background: var(--hero-footer-bcg);
}

.footer .logo {
	color: var(--primary-white-color);
}

.address-text {
	font-family: inherit;
	font-size: 14px;
	line-height: calc(24 / 14);
	font-style: normal;
	color: var(--primary-white-color);
}

.address-text:hover,
.address-text:focus {
	color: var(--accent-color);
}

.address-list {
	font-family: inherit;
	font-size: 14px;
	line-height: calc(24 / 14);
	font-style: normal;
	color: var(--address-list-color);
}

.address-list:hover,
.address-list:focus {
	color: var(--accent-color);
}
/* -----------------Section footer----------------- */

/* -----------------Portfolio page----------------- */

.portfolio-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	text-align: center;
	color: var(--primary-text-color);
	background: var(--section-team-bcg);
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.03em;

	padding: 6px 22px;
}

.portfolio-btn.active {
	color: var(--primary-white-color);
	background: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	background: var(--accent-color);
}

.work-list {
	background: var(--primary-white-color);
	border: 1px solid var(--portfolio-box);
}

.work-title {
	font-weight: 700;
	font-size: 18px;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
}

.work-text {
	font-size: 16px;
	line-height: calc(30 / 16);
	color: var(--second-text-color);
}
